.container-fluid {
  .row > * {
    width: 35%;
    padding-right: 1px;
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba($color: #e8e8e8, $alpha: 1);
  }

  header {
    padding: 10px 16px;
    background-color: rgba($color: #ededed, $alpha: 1);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;

    .header-img {
      display: inline-flex;
      flex-grow: 1;
      b {
        margin-left: 20px;
        font-size: 10px;
        font-weight: 700;
        line-height: 14px;
        color: rgba($color: #51585c, $alpha: 1);
        padding-bottom: 3px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .util-icons {
      flex: none;
      color: #919191;
      span {
        display: flex;
        align-items: center;
        i {
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .search-wrapper {
    padding: 7px 10px;
    height: 50px;
    background: #f6f6f6;
    position: relative;

    &:focus-within {
      background: white;
    }

    .search-icons {
      color: #919191;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      .search-icon,
      .search__back-btn {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.8s ease;
      }

      .search-icon {
        opacity: 1;
        transition-delay: 0.3s;
      }

      .search__back-btn {
        opacity: 0;
        transition-delay: 0.3s;
        color: rgb(51, 183, 246);
      }
    }

    &:focus-within .search-icon {
      opacity: 0;
      transition-delay: 0s;
    }

    &:focus-within .search__back-btn {
      transform: rotate(360deg);
      opacity: 1;
      transition-delay: 0s;
    }

    .input-search {
      background: #fff;
      color: #4a4a4a;
      padding-left: 60px;
      border-radius: 18px;
      width: 100%;
      height: 100%;
      border: none;
      cursor: text;
      &:focus-visible {
        outline: none;
      }
    }
  }
  padding-left: 0%;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .elml-auto > span {
    display: flex;
    align-items: center;
  }
}
