.container-fluid {
  padding-left: 0%;

  .row > * {
    width: 35%;
    padding-right: 1px;
    max-height: calc(100vh - 5.6rem);
    overflow-y: hidden;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba($color: #e8e8e8, $alpha: 1);
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  p {
    font-family: inherit;
    margin-bottom: 0px;
    background-color: initial;
    border-radius: 0px;
  }

  .py-3 {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .chat-wrapper .chat-body {
    display: flex;
    position: relative;
  }

  .chat-body {
    min-width: 300px;
    flex: 40%;
    border-right: 1px solid #dadada;
    flex-direction: column;
    z-index: 1;
    transform: translateZ(0);
    height: calc(100vh - 40px);
  }
}

.chat-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  z-index: 1;
  background: url("../../assets/bg-chat-light.png") #e4dcd4;
}

.chat-head,
.chat-footer,
.chat-date-wrapper,
.chat-msg-wrapper,
.chat-img-wrapper {
  z-index: 10;
}

.chat-head {
  z-index: 20;
}
