.breadcrumb-separator {
  color: #333;
  margin: auto 6px;
  user-select: none;
}

.bread-link {
  background-color: rgba($color: #686161fb, $alpha: 1);
  border-radius: 1%;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
