body {
  font-size: 11pt;
  font-family: "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  color: #1da2b3;
}

.breadcrumb {
  background-color: rgba($color: #f2f2f2, $alpha: 1);
  border-radius: 1%;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  .bread-span {
    &::before {
      content: " >> ";
      padding-left: 5px;
    }
  }
  .bread-link {
    &::before {
      content: " ";
      padding-left: 5px;
    }
  }
}

.breadcrumb-separator {
  color: #333;
  margin: auto 6px;
  user-select: none;
}

.bread-link {
  background-color: rgba($color: #686161fb, $alpha: 1);
  border-radius: 1%;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}